<!DOCTYPE html>
<html>
  <body>
    <p>Hi, {{ record.first_name }}</p>
    <p>This is a brief of new RENAG booking:</p>
    Number: <b>{{ record.number }}</b><br>
    First Name: <b>{{ record.first_name }}</b><br>
    Last Name: <b>{{ record.last_name }}</b><br>
    Booking Date: <b>{{ record.booking_date.strftime('%d-%b-%Y') }}</b><br>

    <p>-------------------------<br>
    <b> Renag </b><br>
    {{ record.company and record.company.party.name }}<br>
    </p>
    <img src="https://renagew.com/wp-content/uploads/2017/06/logo88.png" alt="presik"  height="50" width="150"
      style="padding-top:15px;padding-left:10">
  </body>
</html>
