<!DOCTYPE html>
<html>
  <body>
    <p>Hi, {{ record.party.name }}</p>
    <p>This is a brief of new RENAG rental agreement:</p>
    Number: <b>{{ record.number }}</b><br>
    Start Date: <b>{{ record.start_date.strftime('%d-%b-%Y') }}</b><br>
    Hiring Time: <b>{{ record.hiring_time }}</b><br>
    Product: <b>{{ record.product.rec_name }}</b><br>

    <p>-------------------------<br>
    <b> Renag </b><br>
    {{ record.company and record.company.party.name }}<br>
    </p>
    <img src="https://renagew.com/wp-content/uploads/2017/06/logo88.png" alt="presik"  height="50" width="150"
      style="padding-top:15px;padding-left:10">
  </body>
</html>
