<!DOCTYPE html>
<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}
tr:hover {background-color: #f5f5f5}
th {
    background-color: #B2DDEE;
    color: #3E4041;
    font-style: normal;
}
table, th, td {
    border: 1px dotted gray;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd
}
</style>
</head>
<html>
  <body>
    <p>Hi, {{ record.first_name }}</p>
    <p>This is a brief of RENAG return bike:</p>
    Number Contract: <b>{{ record.number }}</b><br>
    Customer: <b>{{ record.party.name }}</b><br>
    Return Date: <b>{{ record.end_date.strftime('%d-%b-%Y') }}</b><br>
    Product: <b>{{ record.equipment and record.equipment.product.rec_name }}</b><br>

    <p>-------------------------<br>

    <b>INITIAL DEPOSIT:  $ {{ record.deposit_amount }}</b>
    <p></p>
    <table>
      <TR>
        <TH class="c1">DATE</TH>
        <TH class="c2">ISSUE</TH>
        <TH class="c2">AMOUNT</TH>
      </TR>
      {% for rec in record.deposit_lines %}
      <TR>
        <TD class="c1">{{ rec.date }}</TD>
        <TD class="c2">{{ rec.issue }}</TD>
        <TD class="c2">$ {{ rec.amount }}</TD>
      </TR>
      {% endfor %}
    </table>
    <br>
    <b>TOTAL DISCOUNTS:  $ {{ record.deposit_kept }}</b><br>
    <b>BALANCE:  $ {{ record.deposit_balance }}</b>

    <p>-------------------------<br>
    <b> Renag </b><br>
    {{ record.company and record.company.party.name }}<br>
    </p>
<img src="https://renagew.com/wp-content/uploads/2017/06/logo88.png" alt="presik"  height="50" width="150"
style="padding-top:15px;padding-left:10">
  </body>
</html>
